# {{ ansible_managed }}

# Apache2 global configuration
#

# The accept serialization lock file MUST BE STORED ON A LOCAL DISK.
Mutex file:${APACHE_LOCK_DIR} default

User {{ apache_user }}
Group {{ apache_group }}
PidFile ${APACHE_PID_FILE}

# @todo replace with the server name
ServerName localhost

# Timeout: The number of seconds before receives and sends time out.
Timeout 300

# KeepAlive: Whether or not to allow persistent connections
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5

# Sets the default security model of the Apache2 HTTPD server.
#<Directory />
#        Options FollowSymLinks
#        AllowOverride None
#        Require all denied
#</Directory>

# AccessFileName: The name of the file to look for in each directory
# for additional configuration directives.  See also the AllowOverride
# directive.
AccessFileName .htaccess

# Prevent .htaccess and .htpasswd files from being viewed by Web clients.
<FilesMatch "^\.ht">
        Require all denied
</FilesMatch>

ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel warn

LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

# HostnameLookups: Log the names of clients or just their IP addresses
# e.g., www.apache.org (on) or 204.62.129.132 (off).
HostnameLookups Off

# Include list of ports to listen on
Include ports-enabled/port_*.conf

IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf

IncludeOptional conf-enabled/*.conf
IncludeOptional sites-enabled/*.conf
