# {{ ansible_managed }}

<VirtualHost *:{{ item['listen_port'] }}>

    ServerAdmin {{ item['admin_email'] }}
    ServerName {{ item['host'] }}
    DocumentRoot {{ apache_root }}/{{ item['host'] }}/{{ item['webfolder'] }}

    SSLEngine on
    SSLCertificateFile {{ apache_ssl_crt }}
    SSLCertificateKeyFile {{ apache_ssl_key }}

{% for alias in item['aliases']|default([]) %}
    ServerAlias {{ alias }}
{% endfor %}

    ErrorLog "/var/log/apache2/{{ item['host'] }}-error.log"
    CustomLog "/var/log/apache2/{{ item['host'] }}-access.log" common

    <Directory {{ apache_root }}/{{ item['host'] }}/{{ item['webfolder'] }}>
        Options {{ item['options'] }}
        AllowOverride {{ item['allowoverride'] | default("None") }}
        Order allow,deny
        Allow from All

    </Directory>

</VirtualHost>

