# {{ ansible_managed }}
<VirtualHost *:{{ gitlab_listen_port }}>
  ServerName {{ gitlab_host }}
  ServerAlias {{ gitlab_host_alias }}
  ServerSignature Off

  SSLEngine on
  SSLCertificateFile /etc/gitlab/ssl/{{ gitlab_hostname }}.crt
  SSLCertificateKeyFile /etc/gitlab/ssl/{{ gitlab_hostname }}.key

  <Proxy *>
    Order deny,allow
    Allow from all
  </Proxy>

  SSLProxyEngine on
  SSLProxyVerify none
  SSLProxyCheckPeerCN off
  SSLProxyCheckPeerName off
  SSLProxyCheckPeerExpire off

  ProxyPass {{ gitlab_proxy_pass }}
  ProxyPassReverse {{ gitlab_proxy_pass_reverse }}

  #Header edit Location ^http://<url>/ https://<url>/
  #RequestHeader set X-Forwarded-Proto "https"

  # needed for downloading attachments
  # DocumentRoot /opt/gitlab/embedded/service/gitlab-rails/public

</VirtualHost>
